.btn{
    background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #40a6ff 117.04%
    );
    box-shadow: 0px 4.42184px 107.23px rgba(255,86,246,0.51)
}
.btnsm{
   background: linear-gradient(
       92.23deg,
       #ff56f6 21.43%,
       #b936ee 50.63%,
       #3bace2 100%,
       #40a6ff 117.04%
   );
   box-shadow: 0px 4.42184px 107.23px rgba(255,86,246,0.51)
}
.btn:hover{
    background: linear-gradient(
        92.23deg,
        #40a6ff 21.43%,
        #3bace2 50.63%,
        #b936ee 100%,
        #ff56f6 117.04%
    )
}
.gradient,
.active{
    background: linear-gradient(
        92.23deg,
        #40a6ff 21.43%,
        #3bace2 50.63%,
        #b936ee 100%,
        #ff56f6 117.04%
    )
}
.active{
    color:#fff;
    padding:1rem;
    border-radius: 100%;
}



 body{
    @apply  text-lg leading-8
    text-white
 }
 .h2{
    @apply  text-[32px] mb-6
    tracking-[10%] uppercase;
 }
 .h3{
    @apply  font-semibold text-[26px] mb-6 leading-[46px];
 }
 .btn{
    @apply rounded-full text-white font-medium;
 }
 .btn-sm{
    @apply h-[48px] px-6 text-sm;
 }
 .btn-lg{
    @apply h-[56px] px-10 text-base;
 }
 .btn-link{
    @apply text-base;
 }
 .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
 .section{
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
 }
.landing-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  text-align: center;
}

.logo-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; /* Center the logo horizontally */
}

.logo {
  height: 15rem; /* Increase the logo size */
  max-width: 100%; /* Ensure the logo does not exceed container width */
}

.title {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.italic {
  font-style: italic; /* Italicize the text */
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap on small screens */
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem; /* Add margin at the bottom */
}

.btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  border: none;
}
.btnsm {
  padding: 0.rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #1e88e5;
}

.btn-secondary {
  background-color: #9e9e9e;
}
