@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar-container {
    @apply bg-black text-white  w-[15rem]   p-4 transition-all duration-500  relative 
    
  }
  .sidebar {
    @apply flex items-center mt-2 p-4  cursor-pointer hover:bg-white/30 transition-all duration-500
  }
  






  
}